@charset "UTF-8";
/* リセットcss */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* リセットcss */
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 14px 5px 14px 1px;
    font-family: Meiryo;
    color: #333333;
    font-size: 12px;
    grid-column: 2/3;
  }
  .footer small {
    font-size: 10px;
    font-family: Meiryo;
    color: #333333;
  }
  .footer__link__texts {
    display: flex;
  }
  .footer__link__text a {
    text-decoration: none;
    color: #333333;
  }
  .footer__link__text1 {
    margin-right: 32px;
  }
  .footer__link__text2 {
    margin-right: 30px;
  }
}
@media screen and (max-width: 1023px) {
  .footer {
    padding: 0px 83px 21px 40px;
    font-family: Meiryo;
    color: #333333;
    font-size: 12px;
    width: 252px;
    margin: 0 auto;
  }
  .footer small {
    font-size: 10px;
    font-family: Meiryo;
    color: #333333;
  }
  .footer__link__texts {
    display: flex;
    margin-bottom: 10px;
  }
  .footer__link__text a {
    text-decoration: none;
    color: #333333;
  }
  .footer__link__text1 {
    margin-right: 32px;
  }
  .footer__link__text2 {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    height: 88px;
    font-size: 22.5px;
    font-family: Arial;
    color: #333333;
  }
  .header h1 {
    margin-top: 32px;
  }
  .header h1 a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
}
@media screen and (max-width: 1023px) {
  .header {
    height: 88px;
    font-size: 22.5px;
    font-family: Arial;
    color: #333333;
    margin-left: 40px;
  }
  .header h1 {
    margin-top: 28px;
  }
  .header h1 a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
}
@media screen and (min-width: 1024px) {
  /*============
  nav
  =============*/
  nav {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all 0.5s;
    z-index: 3;
    opacity: 0;
  }

  .open nav {
    left: 0;
    opacity: 1;
  }

  nav .inner {
    padding: 35px 50px;
  }
  nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav .inner ul li {
    margin-bottom: 24px;
  }
  nav .inner ul li a {
    display: block;
    color: #e4e4e4;
    font-size: 16px;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  nav .inner ul li a:hover {
    opacity: 0.7;
  }

  /*============
  .toggle_btn
  =============*/

  /*============
  #mask
  =============*/

  /*============
  main
  =============*/

  /*============
  body
  =============*/
}
@media screen and (min-width: 1024px) and (max-width: 767px) {
  nav {
    left: -220px;
    width: 220px;
  }
}
@media screen and (min-width: 1024px) {
  .toggle_btn {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    margin-right: 159px;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 3;
  }
  .toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all 0.5s;
  }
  .toggle_btn span:nth-child(1) {
    top: 8px;
  }
  .toggle_btn span:nth-child(2) {
    bottom: 8px;
  }
}
@media screen and (min-width: 1024px) {
  .open .toggle_btn span {
    background-color: #fff;
  }
  .open .toggle_btn span:nth-child(1) {
    top: 4px;
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-45deg);
  }
  .open .toggle_btn span:nth-child(2) {
    bottom: 4px;
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(45deg);
  }
}
@media screen and (min-width: 1024px) {
  #mask {
    display: none;
    transition: all 0.5s;
  }
}
@media screen and (min-width: 1024px) {
  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    z-index: 2;
    cursor: pointer;
  }
}
@media screen and (min-width: 1024px) {
  main {
    padding: 50px;
  }
  main h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
}
@media screen and (max-width: 1023px) {
  /*============
  nav
  =============*/
  nav {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all 0.5s;
    z-index: 3;
    opacity: 0;
  }

  .open nav {
    left: 0;
    opacity: 1;
  }

  nav .inner {
    padding: 35px 50px;
  }
  nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav .inner ul li {
    margin-bottom: 24px;
  }
  nav .inner ul li a {
    display: block;
    color: #e4e4e4;
    font-size: 16px;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  nav .inner ul li a:hover {
    opacity: 0.7;
  }

  /*============
  .toggle_btn
  =============*/

  /*============
  #mask
  =============*/

  /*============
  main
  =============*/

  /*============
  body
  =============*/
}
@media screen and (max-width: 1023px) and (max-width: 767px) {
  nav {
    left: -220px;
    width: 220px;
  }
}
@media screen and (max-width: 1023px) {
  .toggle_btn {
    display: block;
    position: fixed;
    top: 30px;
    right: 40px;
    width: 30px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 3;
  }
  .toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all 0.5s;
  }
  .toggle_btn span:nth-child(1) {
    top: 8px;
  }
  .toggle_btn span:nth-child(2) {
    bottom: 8px;
  }
}
@media screen and (max-width: 1023px) {
  .open .toggle_btn span {
    background-color: #fff;
  }
  .open .toggle_btn span:nth-child(1) {
    top: 4px;
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-45deg);
  }
  .open .toggle_btn span:nth-child(2) {
    bottom: 4px;
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(45deg);
  }
}
@media screen and (max-width: 1023px) {
  #mask {
    display: none;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 1023px) {
  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.8;
    z-index: 2;
    cursor: pointer;
  }
}
@media screen and (max-width: 1023px) {
  main {
    padding: 50px;
  }
  main h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
  }
}
@media screen and (max-width: 1023px) {
  body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .about {
    display: grid;
    grid-template-columns: 159px 1fr 159px;
    grid-template-rows: 88px 100vh 1fr;
  }

  .about__main {
    grid-column: 2/3;
  }
  .about__main__title {
    margin-bottom: 36px;
    font-family: Meiryo;
    font-size: 14px;
  }
  .about__main__contents {
    width: 583px;
    font-family: Meiryo;
    font-size: 14px;
  }
  .about__main__contents__content {
    margin-bottom: 36px;
  }
}
@media screen and (max-width: 1023px) {
  .about__main {
    height: 100vh;
  }
  .about__main__title {
    padding-bottom: 36px;
    font-family: Meiryo;
    font-size: 14px;
    width: 294px;
    margin: 0 auto;
  }
  .about__main__contents {
    font-family: Meiryo;
    font-size: 14px;
    width: 294px;
    margin: 0 auto;
  }
  .about__main__contents__content {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1024px) {
  .index {
    display: grid;
    grid-template-columns: 159px 1fr 159px;
    grid-template-rows: 88px 100vh 1fr;
  }

  .index__main {
    grid-column: 2/3;
  }
}
@media screen and (max-width: 1023px) {
  .index__main {
    height: 100vh;
  }
}