// PCorスマホでHTMLの表示/非表示を切り替える
.pc { display: block !important; }
.sp { display: none !important; }
@media only screen and (max-width: 1023px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
}

// hover時に半透明化
.hover-opacity {
    transition:300ms;
}
.hover-opacity:hover {
    opacity: 0.7;
    color: #333333;
}