// pc版
@media screen and (min-width: 1024px) {
    .company {
        display: grid;
        grid-template-columns: 159px 1fr 159px;
        grid-template-rows: 88px 1fr 46px;
    }
    .company__main {
        grid-column: 2 / 3;
        font-size: 14px;
        color: #333333;
        font-family: Meiryo;
        width: 600px;
        &--title {
            padding: 24px 0;
        }
    }
    .company__main--content {
        padding: 23px 10px;
        border-bottom: 1px solid #DCDBDB;
    }
    .company__main--content6, .company__main--content7 {
        border-bottom: none;
    }
}

// sp版
@media screen and (max-width: 1023px) {
    .company__main {
        grid-column: 2 / 3;
        font-size: 14px;
        color: #333333;
        font-family: Meiryo;
        width: 295px;
        margin: 0 auto;
        &--title {
            padding: 24px 8px;
        }
    }
    .company__main--content {
        padding: 23px 10px;
        border-bottom: 1px solid #DCDBDB;
        &--title{
            display: block;
            margin-bottom: 17px;
        }
    }
    .company__main--content6, .company__main--content7 {
        border-bottom: none;
    }
}