footer.footer
    ul.footer__link__texts
        li.footer__link__text.footer__link__text1
            a(href="") INSTAGRAM
        li.footer__link__text.footer__link__text2
            a(href="") TWITTER
        li.footer__link__text.footer__link__text3
            a(href="") FACEBOOK
    small © Furniture Design