//- script(type='text/javascript' src='js/hamburger.js')

#navArea
    nav
        .inner
            ul
                li
                    a(href="") PRODUCTS
                li
                    a(href="") ABOUT
                li
                    a(href="") COMPANY
                li
                    a(href="") CONTACT
    .toggle_btn
        span
        span
    #mask