//- script(type='text/javascript' src='js/hamburger.js')

#navArea
    nav
        .inner
            ul
                li
                    a(href="index.html") PRODUCTS
                li
                    a(href="about.html") ABOUT
                li
                    a(href="company.html") COMPANY
                li
                    a(href="mailto:xxxxx@xxx.xxx.com?subject=お問い合わせ") CONTACT
    .toggle_btn
        span
        span
    #mask