//- script(type='text/javascript' src='js/hamburger.js')

#navArea
    nav
        .inner
            ul
                li
                    a(href="") Text
                li
                    a(href="") Text
                li
                    a(href="") Text
    .toggle_btn
        span
        span
    #mask
main
    h1 Hamburger Menu Sample02