<!DOCTYPE html>
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="css/styles.css")
        script(src='https://code.jquery.com/jquery-3.6.0.js' integrity='sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=' crossorigin='anonymous')
    body.products
        include _hamburger.pug
        include _header.pug
        section.products__main
            .products__main__title
                p Products
            .products__main__content.products__main__content1
                a(href="")
                    img(src="img/item1.jpg", alt="").hover-opacity
                p プロダクトタイトルプロダクトタイトル
                p ¥99,999 +tax
            .products__main__content.products__main__content2
                a(href="")
                    img(src="img/item2.jpg", alt="").hover-opacity
                p プロダクトタイトルプロダクトタイトル
                p ¥99,999 +tax
            .products__main__content.products__main__content3
                a(href="")
                    img(src="img/item3.jpg", alt="").hover-opacity
                p プロダクトタイトルプロダクトタイトル
                p ¥99,999 +tax
            .products__main__content.products__main__content4
                a(href="")
                    img(src="img/item4.jpg", alt="").hover-opacity
                p プロダクトタイトルプロダクトタイトル
                p ¥99,999 +tax
            .products__main__content.products__main__content5
                a(href="")
                    img(src="img/item5.jpg", alt="").hover-opacity
                p プロダクトタイトルプロダクトタイトル
                p ¥99,999 +tax
            .products__main__content.products__main__content6
                a(href="")
                    img(src="img/item6.jpg", alt="").hover-opacity
                p プロダクトタイトルプロダクトタイトル
                p ¥99,999 +tax
            .products__main__content.products__main__content7
                a(href="")
                    img(src="img/item7.jpg", alt="").hover-opacity
                p プロダクトタイトルプロダクトタイトル
                p ¥99,999 +tax
            .products__main__content.products__main__content8
                a(href="")
                    img(src="img/item8.jpg", alt="").hover-opacity
                p プロダクトタイトルプロダクトタイトル
                p ¥99,999 +tax
            .products__main__content.products__main__content9
                a(href="")
                    img(src="img/item9.jpg", alt="").hover-opacity
                p プロダクトタイトルプロダクトタイトル
                p ¥99,999 +tax
            .products__main__content.products__main__content10
                a(href="")
                    img(src="img/item10.jpg", alt="").hover-opacity
                p プロダクトタイトルプロダクトタイトル
                p ¥99,999 +tax
            .products__main__content.products__main__content11
                a(href="")
                    img(src="img/item11.jpg", alt="").hover-opacity
                p プロダクトタイトルプロダクトタイトル
                p ¥99,999 +tax
            .products__main__content.products__main__content12
                a(href="")
                    img(src="img/item12.jpg", alt="").hover-opacity
                p プロダクトタイトルプロダクトタイトル
                p ¥99,999 +tax
            .products__main__content__pagenate-btn
                ul
                    li
                        span 1
                    li
                        a(href="products2.html") 2
        include _footer.pug
    script(type='text/javascript' src='js/hamburger.js' inline)